{% extends 'accounts/base.html'%}

{% block body%}
<div class="row mt-3">
    <div class="col-md">

        
        <div class="card">
            <div class="card-body">
                <h3><strong>Products</strong></h3>
            </div>
            <table class="table">
                    <tr>
                        <th> Product </th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    </tr>
                    {% for i in products%}
                    <tr>
                       <td> {{i.name}}</td>
                       <td> {{i.category}}</td>
                       <td> {{i.price}}</td>
                       </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
  
</div>
{% endblock %}