<div class="row mt-2 mb-2">
    <div class="col-md-4">
        <div class="card" id="total-orders">
            <div class="card-header">
              <h3><strong>Total orders</strong></h3>
            </div>
            <div class="card-body">
                <h3>{{total_orders}}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" id="orders-delivered">
            <div class="card-header" ">
              <h3><strong>Orders Delivered</strong></h3>
            </div>
            <div class="card-body">
              <h3>{{delivered}}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" id="orders-pending">
            <div class="card-header">
              <h3><strong>Orders Pending</strong></h3>
            </div>
            <div class="card-body">
              <h3>{{pending}}</h3>
            </div>
        </div>
    </div>

</div>